@font-face {
  font-family: "Bankai";
  src: url("/fonts/bankai.woff2") format("woff2");
  font-weight: 400;
 }

body {
  font-family: 'Bankai', 'Menlo', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  --background-color: #1D1E2C;
  --text-color: #E9ECF5;
  --primary-color: #F4D35E;
  --btn-color: #59656F;
}

.overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  opacity: 1;
}
.overlay-fadeout {
  transition-delay: 1000ms;
  transition-duration: 500ms;
  opacity: 0;
}
.overlay-hidden {
  display: none;
}

.loader-container {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.loader-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loader-circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 10px;
  stroke-dasharray: 597px; /* 95 * 2 * PI */
  stroke-dashoffset: 597px;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  transition-duration: 300ms;
  transition-property: stroke-dashoffset;
}

.loader-percentage {
  position: relative;
  top: 15px;
  text-align: center;
  font-size: 80px;
}

.loader-text {
  margin-top: 32px;
  font-size: 50px;
  color: var(--primary-color);
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
