body {
  font-family: 'Zen Old Mincho', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  --background-color: #1D1E2C;
  --text-color: #E9ECF5;
  --primary-color: #F4D35E;
  --btn-color: #59656F;
}

/* ==================== */
/* == LOADER OVERLAY == */
/* ==================== */
.overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  opacity: 1;
}
.overlay-fadeout {
  transition-delay: 1000ms;
  transition-duration: 500ms;
  opacity: 0;
}
.overlay-hidden {
  display: none;
}

.loader-container {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.loader-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loader-circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 10px;
  stroke-dasharray: 597px; /* 95 * 2 * PI */
  stroke-dashoffset: 597px;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  transition-duration: 300ms;
  transition-property: stroke-dashoffset;
}

.loader-percentage {
  text-align: center;
  font-size: 50px;
}

.loader-text {
  margin-top: 32px;
  font-size: 50px;
  color: var(--primary-color);
}

/* ==================== */
/* ====== BUTTONS ===== */
/* ==================== */
.controls {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--btn-color);
}
.animation-button {
  position: relative;
  border: none;
  background: none;
  font: inherit;
  font-size: 20px;
  padding: 12px;
  margin: 0;
  flex-shrink: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
  transition-duration: 300ms;
  transition-property: opacity;
}
.animation-button:disabled {
  opacity: 0.3;
}
.animation-button-icon {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  transform: translate(0);
}
.animation-button-progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: var(--text-color);
  transform-origin: 0 0;
  transform: scaleX(0);
  transition-property: transform;
}
.animation-button-progress_processing {
  transform: scaleX(1);
}

/* Mobile only */
@media screen and (max-width: 650px) {
  .animation-button {
    padding: 12px 10px;
  }
  .animation-button-icon {
    margin-right: 4px;
  }
  .animation-button-label-desktop {
    display: none;
  }
}
/* Desktop only */
@media screen and (min-width: 650px) {
  .animation-button-label-mobile {
    display: none;
  }
}

/* ==================== */
/* === WEBGL CANVAS === */
/* ==================== */
#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
